{% extends 'index.html' %}

{% block body_inner_title %}Create new project{% endblock %}

{% block body_inner %}
  {% if error %}
			<div class="alert alert-danger" role="alert">
			{{error}}
		</div>
	{% endif %}

	<form method="POST" action="/ide/create_project/" class="p-3">
		{% csrf_token %}
		<input type="hidden" name="template" value="{{template}}" />
		<div class="form-group">
  		<label for="title">Project name</label>
  		<input type="text" name="title" value="{{title}}" required class="form-control"  />
  		<ul class="small">
        <li>Project name: please use only numbers, letters and underscores.</li>
        <li>Project will be created in <code>{{projects_home}}</code></li>
      </ul>
  	</div>

		<button type="submit" class="btn btn-primary">Create project</button>
		<a href="/" class="btn btn-light">Cancel</a>
  </form>
{% endblock %}