{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/jstree.3.2.1.style.min.css" />

<script src="/static/js/split.1.3.5.min.js"></script>
<script src="/static/js/jstree.3.2.1.min.js"></script>

<script src="/static/js/ace.1.4.4.js"></script>
<script src="/static/js/ace.theme-monokai.1.4.4.js"></script>
<script src="/static/js/ace.mode-python.1.4.4.js"></script>

<script src="/static/js/sql.js"></script>

<script src="/static/js/editor_code.js"></script>
<script src="/static/js/editor_sqlite3.js"></script>
<script src="/static/js/ide.js"></script>
{% endblock %}

{% block body %}
<div class="row no-gutters full-height">
	<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border-bottom">
	  	<a class="navbar-brand" href="/">
	        <img src="/static/imgs/vdj.png" alt="VDj" style="width: 1.5em" class="float-left" />
	        Visual Django
	    </a>

	    <a class="nav-link disabled" href="#">|</a>

	    <a class="navbar-brand" href="#">
	    	Project: {{project_id}}
	    </a>

	    <a class="btn btn-success btn-sm" href="#" data-toggle="modal" data-target="#run_project_modal">
          Run
        </a>

	    <div class="collapse navbar-collapse" id="navbarCollapse">
	      <ul class="navbar-nav mr-auto">
	      	<li class="nav-item">
		    	<a class="nav-link disabled" href="#">|</a>
		  	</li>
	        <li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">File</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">New File</a>
			      <a class="dropdown-item" href="#">Save</a>
			      <a class="dropdown-item" href="#">Save All</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="#">Close File</a>
			      <a class="dropdown-item" href="#">Close All Files</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="/">Open Project</a>
			      <a class="dropdown-item" href="/#v-pills-new">Create Project</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="https://docs.djangoproject.com">Django Help</a>
			    </div>
			</li>

			<li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Edit</a>
			    <div class="dropdown-menu">
			      <a class="dropdown-item" href="#">Undo</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="#">Cut</a>
			      <a class="dropdown-item" href="#">Copy</a>
			      <a class="dropdown-item" href="#">Paste</a>
			    </div>
			</li>

	      </ul>

	      <form class="form-inline mt-2 mt-md-0">
	        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	      </form>
	    </div>
	</nav>

    <div id="navigator_column" class="col">
    	<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active bg-light" role="tab">Project Navigator</a>
		  </li>
		</ul>
		<div class="card border-0">
	        <!-- https://www.jstree.com/ -->
	        <div class="card-block px-2">
		    	<div id="project_tree">
		    		<ul>
			    	{% for item, value in project_tree.items %}
			    		<li>{{item}}
			    		{% if value.items %}
							<ul>
								{% for item, value in value.items %}
			    					<li {% if value.items %}{% else %}data-path="{{value}}"{% endif %}>{{item}}
			    					{% if value.items %}
										<ul>
											{% for item, value in value.items %}
			    								<li {% if value.items %}{% else %}data-path="{{value}}"{% endif %}>{{item}}
			    								{% if value.items %}
													<ul>
														{% for item, value in value.items %}
			    											<li data-path="{{value}}">{{item}}</li>
			    										{% endfor %}
													</ul>
												{% endif %}
												</li>
			    							{% endfor %}
										</ul>
									{% endif %}
									</li>
			    				{% endfor %}
							</ul>
						{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<!-- <div class="card-footer">
	            Edit
	        </div> -->
		</div>

    </div>

    <div id="center_column" class="col">
    	<!-- Editor Area -->
    	<ul class="nav nav-tabs" id="center_column_tabs" role="tablist">
		  <li class="nav-item">
		    <a href="#welcome-editor" class="nav-link active bg-light" id="welcome-tab" data-toggle="tab" role="tab" aria-selected="true">
		    	Welcome
		    </a>
		  </li>
		  <li class="nav-item">
		    <a href="#structure-editor" class="nav-link bg-light" id="structure-tab" data-toggle="tab" role="tab">
		    	Project Structure
		    </a>
		  </li>
		</ul>
		<div class="tab-content h-100 border-left" id="center_column_tabs_content">
		  <div class="tab-pane show active h-100" id="welcome-editor" role="tabpanel">
		  	<iframe style="height: 100%; width: 100%; border: 0" src="https://vsergeyev.github.io/django-visual/"></iframe>
		  </div>

		  <div class="tab-pane h-100 p-3" id="structure-editor" role="tabpanel">

		  	<img class="img-fluid" src="http://yuml.me/diagram/boring;dir:lr/class/{% for item, models in project_apps.iteritems %}[{{project_id}}]<>->[{{item}}], {% for model in models %}[{{item}}]<>->[{{model.name}}], {% endfor %}{% endfor %}" >

		  	<!--
		  	{% for item, models in project_apps.iteritems %}
		  		[{{project_id}}]<>->[{{item}}],
		  		{% for model in models %}
		  			[{{item}}]<>->[{{model.name}}]
		  		{% endfor %}
		  	{% endfor %}
			-->

		  	<p>Diagram is drawn using <a href="https://yuml.me" target=_blank>https://yuml.me</a></p>
		  </div>

		  {% for item, models in project_apps.iteritems %}
		  	{% if 'django.contrib' in item %}

		    {% else %}
			  <div class="tab-pane h-100 p-3" id="model-editor-{{item}}" role="tabpanel">
			  	{% for model in models %}
				<div class="card">
					<ul class="nav nav-tabs">
					  <li class="nav-item">
					    <div class="nav-link active bg-light" role="tab">Model: {{model.name}}
					    	&nbsp;
					    	<i class="badge badge-info badge-pill float-right open-file" data-path="{{model.path}}"> {{model.rel_path}}</i>
					    </div>
					  </li>
					</ul>
			        <div class="card-block px-2">
				    	<div class="list-group list-group-flush">
				    	{% for field in model.fields %}
						  <div class="list-group-item list-group-item-action">
						    {{field.name}} <span class="badge badge-light badge-pill float-right">{{field.class}}</span>
						  </div>
						{% endfor %}
						</div>
					</div>
				</div>
				{% empty %}
					<p>
						No models defined
					</p>
				{% endfor %}
				<hr />
				<a class="btn btn-success float-right" data-toggle="collapse" href="#add_model_{{item}}">Add model</a>
				<br />
				<br />

				<div class="collapse" id="add_model_{{item}}">
				  <form method="POST" action="add_model/">
				      <input type="hidden" name="application" value="{{item}}" />
					  <div class="card card-body">
					    <ul class="nav nav-tabs">
						  <li class="nav-item">
						    <div class="nav-link active bg-light" role="tab">
						    	Model: <input type="text" placeholder="ModelName" name="new_model_name" />
						    	&nbsp;
						    	<a target=_blank href="https://docs.djangoproject.com/en/2.2/topics/db/models/" class="badge badge-info badge-pill float-right">go to Django Models help</a>
						    </div>
						  </li>
						</ul>

						<div class="list-group-item list-group-item-action">
						    id
					    	<span class="badge badge-light badge-pill float-right">AutoField</span>
						</div>

					    <div class="list-group-item list-group-item-action">
					    	<a class="btn remove-model-field-row" href="#">&times;</a>

						    <input type="text" placeholder="field" name="new_model_field_id" required />
						    <input type="text" placeholder="options (optional)" name="new_model_field_options" />
					    	<select class="badge badge-light badge-pill float-right" name="new_model_field_type" required>
					    		<option value="CharField">CharField</option>
					    		<option value="TextField">TextField</option>
					    		<option value="IntegerField">IntegerField</option>
					    		<option value="FloatField">FloatField</option>
					    		<option value="URLField">URLField</option>
					    		<option value="BooleanField">BooleanField</option>
					    		<option value="DateField">DateField</option>
					    		<option value="DateTimeField">DateTimeField</option>
					    		<option value="ForeignKey">ForeignKey</option>
					    	</select>
						</div>

						<div class="list-group-item list-group-item-action">
							<a class="btn btn-light float-right add-model-field-row" href="#">Add Field</a>
						</div>

						<div class="list-group-item list-group-item-action">
							<input type="submit" class="btn btn-primary" value="Save" />
						</div>
					  </div>
				  </form>
				</div>
			  </div>
			{% endif %}
		  {% endfor %}
		</div>
    </div>

    <div id="properties_column" class="col">

    	<div class="card">
    		<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a class="nav-link active bg-light" role="tab">Applications</a>
			  </li>
			</ul>
	        <div class="card-block px-2">
		    	<div class="list-group list-group-flush">
		    		<div class="list-group-item">
				    	django built-in

				    	<div class="dropdown float-right">
						  <button class="badge badge-info badge-pill btn btn-info dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Info
						  </button>
						  <div class="dropdown-menu dropdown-menu-right">
						  	{% for item, models in project_apps.iteritems %}
		    					{% if 'django.contrib' in item %}
						    		<a class="dropdown-item small" href="#">{{item}}</a>
								{% endif %}
				    		{% endfor %}
						  </div>
						</div>
					</div>

		    	{% for item, models in project_apps.iteritems %}
		    		{% if 'django.contrib' in item %}

		    		{% else %}
					  <div class="list-group-item list-group-item-action">
					  	<a href="#" data-panel="model-editor-{{item}}" class="list-group-item-action open-model-editor">{{item}}</a>

					  	{% if models %}
					  	<div class="dropdown float-right">
					  	  <button class="badge badge-info badge-pill btn btn-info dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Models
						  </button>
						  <div class="dropdown-menu dropdown-menu-right">
				  			{% for model in models %}
				    			<a class="dropdown-item small" href="#">{{model.name}}</a>
				  			{% endfor %}
						  </div>
						</div>
						{% endif %}
					  </div>
					 {% endif %}
				{% endfor %}

				<span class="list-group-item">
					<a href="#" class="badge badge-info badge-pill float-right">Edit</a>
					<a data-toggle="modal" data-target="#add_application_modal" href="#" class="badge badge-info badge-pill float-right">Add</a>
				</span>
				</div>
			</div>
			<!-- <div class="card-footer">
	            Edit
	        </div> -->
		</div>

		<div class="card">
	        <ul class="nav nav-tabs">
			  <li class="nav-item">
			    <span class="nav-link active bg-light" role="tab">Databases</span>
			  </li>
			</ul>
	        <div class="card-block px-2">
		    	<div class="list-group list-group-flush">
		    	{% for label, item in project_databases.items %}
				  <div class="list-group-item">
				    {{label}}

					<div class="dropdown float-right">
					  <button class="badge badge-info badge-pill btn btn-info dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Info
					  </button>
					  <div class="dropdown-menu dropdown-menu-right">
					  	{% for key, value in item.iteritems %}
					    	<a class="dropdown-item small" href="#">{{key}}: {{value}}</a>
					    {% endfor %}
					  </div>
					</div>
				</div>
				{% endfor %}

				<span class="list-group-item">
					<a href="#" class="badge badge-info badge-pill float-right">Edit</a>
				</span>
				</div>
			</div>
			<!-- <div class="card-footer">
	            Edit
	        </div> -->
		</div>

		<div class="card">
	        <ul class="nav nav-tabs">
			  <li class="nav-item">
			    <span class="nav-link active bg-light" role="tab">URLs</span>
			  </li>
			</ul>
	        <div class="card-block px-2">
		    	<div class="list-group list-group-flush">
		    	{% for item in project_urls %}
				  <span class="list-group-item">
				    {{item}}
				  </span>
				{% endfor %}

				<span class="list-group-item">
					<a href="#" class="badge badge-info badge-pill float-right">Edit</a>
				</span>
				</div>
			</div>
			<!-- <div class="card-footer">
	            Edit
	        </div> -->
		</div>

    </div>

    <!-- Hidden textarea to save file in active editor on "Save" button click -->
    <textarea id="active_editor" style="display: none"></textarea>
</div>

<div id="add_application_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="title">Application name</label>
  		<input type="text" name="new_app_name" id="id_new_app_name" value="" required class="form-control"  />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn_add_application">Create Application</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div id="run_project_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="max-width: 800px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your project is running on <a target=_blank href="http://127.0.0.1:8001">http://127.0.0.1:8001</a></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre id="project_stdout" style="width: 100%; height: 400px; background-color: #000; color: #fff; padding: 10px"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Stop</button>
      </div>
    </div>
  </div>
</div>


</div>

<script>
    /*
    TODO: Remember opened files and reopen them on page reload.
	TODO: Refresh Project Navigator / Applications / Project Structure on add/edit apps
	TODO: Check if settings.py open when add/edit apps


    */
    var splitobj = Split(["#navigator_column","#center_column","#properties_column"], {
        elementStyle: function (dimension, size, gutterSize) {
            $(window).trigger('resize'); // Optional
            return {'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)'}
        },
        gutterStyle: function (dimension, gutterSize) { return {'flex-basis':  gutterSize + 'px'} },
        sizes: [20,60,20],
        minSize: 50,
        gutterSize: 6,
        cursor: 'col-resize'
    });

    var PROJECT_HOME =  "{{project_home}}";

    var PROJECT_PID = -1;

    $('#project_tree').jstree().on('ready.jstree', function(){
    	$.jstree.defaults.core.multiple = false;

    	$(this).jstree('open_all');

    	$(this).on("changed.jstree", function (e, data) {
			var label = $("#" + data.selected[0]).text().trim(),
				path = $("#" + data.selected[0]).attr("data-path").trim();

			var rel_path = path.replace(PROJECT_HOME, "");

			project_tree_open_file(rel_path, path);
		});

		$(".open-model-editor").on("click", function() {
			var panel = $(this).data("panel");
			var label = $(this).text();

			if ($('#tab-' + panel).length == 0) {
				$('<li class="nav-item">'
		    	  + '<a href="#' + panel + '" class="nav-link" id="tab-' + panel + '" data-toggle="tab" role="tab" '
		    	  + 'aria-controls="' + panel + '">Application: ' + label + '</a>'
		  		  + '</li>').appendTo("#center_column_tabs");
			}

			$('#tab-' + panel).tab('show');
		});

		$("#center_column_tabs_content").on("click", "i.open-file", function() {
			project_tree_open_file(
				$(this).text(),
				$(this).data("path")
			);
		});

		$("#center_column_tabs").on("click", "i.close-tab", function() {
			var tid = $(this).data("panel");

			$("#tab-" + tid).parent().prev('li').find('a').tab("show");
			$("#tab-" + tid).remove();
			$("#editor-" + tid).remove();
		});

		$("#center_column_tabs").on("click", "i.save-tab", function() {
			var tid = $(this).data("panel");
			var path = $("#tab-" + tid).data("path");

			project_tree_save_file(path);

			$("#tab-" + tid + " span").text($("#tab-" + tid + " span").text().replace(" * ", ""));
			$("#tab-" + tid + " i.save-tab").remove();

			return false;
		});

		$("#center_column").on("click", "a.remove-model-field-row", function() {
			$(this).parent().remove();
		});

		$("#center_column").on("click", "a.add-model-field-row", function() {
			$(this).parent().before(
				'<div class="list-group-item list-group-item-action">' +
			    	'<a class="btn remove-model-field-row" href="#">&times;</a> ' +
				    '<input type="text" placeholder="field" name="new_model_field_id" required />' +
				    '<input type="text" placeholder="options (optional)" name="new_model_field_options" />' +
			    	'<select class="badge badge-light badge-pill float-right" name="new_model_field_type" required>' +
			    		'<option value="CharField">CharField</option>' +
			    		'<option value="TextField">TextField</option>' +
			    		'<option value="IntegerField">IntegerField</option>' +
			    		'<option value="FloatField">FloatField</option>' +
			    		'<option value="URLField">URLField</option>' +
			    		'<option value="BooleanField">BooleanField</option>' +
			    		'<option value="DateField">DateField</option>' +
			    		'<option value="DateTimeField">DateTimeField</option>' +
			    		'<option value="ForeignKey">ForeignKey</option>' +
			    	'</select>' +
				'</div>'
			);

			return false;
		});

    });

    $("#btn_add_application").click(function() {
    	var app_name = $("#id_new_app_name").val();

    	$("#add_application_modal").modal('hide');

    	add_application(app_name);
    });

    $('#add_application_modal').on('hidden.bs.modal', function (e) {
		$("#id_new_app_name").val("");
	});

	$('#run_project_modal').on('show.bs.modal', function (e) {
		$("#project_stdout").html("");

		$.post("run_project/", {}, function(data) {
			console.log(data);

			PROJECT_PID = data;

			$("#project_stdout").html("PROCESS STARTED WITH ID " + PROJECT_PID);
			$("#project_stdout").append("\n\nStarting development server at http://127.0.0.1:8001/");

			setTimeout(function() {
				window.open("http://127.0.0.1:8001/");
			}, 1000);

			// var timerId = setInterval(function() {
			// 	$.get("run_project/", {"pid": PROJECT_PID}, function(data) {
			// 		console.log(data);
			// 		$("#project_stdout").append(data);
			// 	});
			// }, 500);
		});
	});

	$('#run_project_modal').on('hidden.bs.modal', function (e) {
		$.post("stop_project/", {"pid": PROJECT_PID}, function(data) {
			console.log(data);
		});
	});
</script>
{% endblock %}
